.stopwatch {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #dedede6d;
  backdrop-filter: blur(10px);
  border: 1px solid #dedede;
  padding: 10px;
  color: #dbdbdb;
  text-shadow: 2px 2px 1px #00000041;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container h2 {
  background-color: #ffffff59;
  font-size: 40px;
  padding: 10px;
  border-radius: 20px;
  letter-spacing: 5px;
}

.btns button {
  background: transparent;
  margin: 5px;
  border: none;
  outline: none;
}

.btns button img {
  background-color: #d4d4d4;
  opacity: 0.5;
  border-radius: 20px;
  width: 50px;
  padding: 10px;
}